 :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #d2d2d2;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
 }

li {
  list-style: none;
}

.propertyimg {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  padding: 3px 50px 3px 0px;
}
